.bigPictureSLider {
  .pictureSliderContainer {
    width: 100%;
    height: 500px;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .pictureSliderWrapper {
    width: 100%;
    max-width: 1440px;
    height: 100%;

    display: flex;
    align-items: center;
    overflow: hidden;

    background-color: black;

    position: absolute;
  }

  .pictureSliderImage {
    height: 100%;
    width: 100%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s ease-out;
  }

  .pictureSliderImageInView {
    opacity: 1;
  }

  .pictureSliderImageOutView {
    opacity: 0;
  }

  .pictureSliderImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .buttonClicker {
    height: 100%;
    width: 5%;

    position: absolute;

    display: flex;
    align-items: center;
    text-align: center;

    z-index: 1;
  }

  .buttonClicker:nth-of-type(2) {
    margin-left: 95%;
  }

  .buttonClicker:nth-of-type(1) {
    margin-left: -95%;
    justify-content: flex-end;
  }
}

.smallPictureSlider {
  background-color: black;

  .pictureSliderContainer {
    width: 100%;
    height: 200px;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    overflow: hidden;

    justify-self: center;
    align-self: center;
  }

  .pictureSliderWrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-out;
  }

  .pictureSliderImage {
    min-width: 14.2%;
    max-width: 15%;
    height: 150px;
    background-color: #242424;
    border: 5px solid black;
    cursor: pointer;
  }

  .pictureSliderImage img {
    width: 100%;
    height: 100%;

    object-fit: scale-down;
  }

  .smallSliderButtons {
    width: 5%;
    height: 200px;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
  }

  .spacer {
    aspect-ratio: 960/300;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.ProductInformationSection {
  .textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    justify-self: center;
    align-self: center;
  }

  .introSectionText {
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .firstTextWrapper,
  .secondTextWrapper {
    width: 100%;
    min-height: fit-content;
    position: relative;
    overflow: hidden;
  }

  .firstTextWrapper {
    background-color: white;
    color: black;
    max-height: 300px;

    position: relative;
  }

  .firstText {
    height: fit-content;
    z-index: 1;
    position: absolute;
  }

  .firstText {
    width: 50%;
    left: 0;

    margin-top: 50px;
    margin-left: 40px;
  }

  .firstText p {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.33s;
    font-size: 22px;
  }

  .firstTextImage {
    position: relative;
    align-self: flex-start;
  }

  .firstTextImage img {
    height: 800px;
    width: 800px;
    position: absolute;
    margin-top: -200px;
    margin-right: -100px;
    transform: rotateY(180deg);
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .show {
    opacity: 1 !important;
    filter: blur(0) !important;
  }

  .wave {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateY(180deg);
    margin-top: 200px;
  }

  .wave svg {
    display: block;
    width: calc(169% + 1.3px);
    height: 200px;
  }

  .wave .shape_fill {
    fill: black;
  }
}

.serviceInformation {
  background-color: white;
  .serviceInformationCotnainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 500px;
    background-color: black;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer button {
    height: 50px;
    min-width: 150px;

    padding: 5px;
    margin: 10px;
    border-radius: 10px;

    background-color: rgb(75, 75, 75);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonContainer button:hover {
    background-color: rgb(61, 61, 61);
  }

  .serviceText {
    display: flex;

    align-items: flex-start;

    width: 50%;
    height: 400px;
  }

  .serviceText p {
    width: 60%;
  }

  .spacer {
    aspect-ratio: 960/100;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url(./infoWaves.svg);
  }

  @media screen and (min-width: 700px) and (max-width: 1000px) {
    .serviceText {
      width: 70%;
      height: 300px;
    }

    .serviceText p {
      width: 100%;
    }
  }

  @media screen and (max-width: 700px) {
    .serviceText {
      width: 100%;
      height: 100%;
    }

    .serviceText p {
      width: 100%;
    }
  }
}
