.container {
  height: 100%;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
