.newsLetterContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: black;
  min-height: 200px;

  h2 {
    width: 330px;
    padding: 10px;
    font-size: large;
  }

  h5 {
    width: 300px;
    color: rgba(0, 0, 0, 0.767);
    padding: 10px;
  }

  .newsLetterWrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .emailAndButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    input {
      height: 50px;
      width: 250px;
      color: black;
      background-color: white;
      border: 1px solid black;
      border-right: none;
      outline: none;
      padding: 10px;
    }

    button {
      border-left: none;
      background-color: black;
      height: 50px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    button:hover {
      background-color: rgba(0, 0, 0, 0.81);
    }
  }

  @media screen and (max-width: 1050px) {
    .newsLetterWrapper {
      justify-content: space-evenly;
    }

    h2 {
      font-size: medium;
    }

    h5 {
      display: none;
    }
  }
}

.footer {
  .footerContainer {
    background-color: black;
    color: white;

    display: flex;
    min-height: 250px;
    padding: 10px;
  }
}

.footerButtonsContainer {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  border-right: 1px solid white;
  margin: 30px;

  .footerButtonsWrapper {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  h4 {
  }

  button {
    margin-top: 5px;
    width: fit-content;
  }

  button:hover {
    box-shadow: inset 0px -1px 0px white;
  }
}

.footerInformationTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 50px;
  .headerContainer {
  }

  .pContainer {
    display: flex;
    font-weight: 600;
  }

  .pContainer p:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
